In [37]:
#PRINT EVEN NUMBERS FROM 2 TO 20
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

In [36]:
#PRINT NAMES IN UPPERCASE
names = ['fizza','zoha','fatima','rafia','amna','uswa','sahar']
for name in names:
    print(name.upper())

FIZZA
ZOHA
FATIMA
RAFIA
AMNA
USWA
SAHAR

In [35]:
#PRINT NUMBERS FROM 1 TO 10 IN REVERSE ORDER
for value in range(10,0,-1):
    print(value)

10
9
8
7
6
5
4
3
2
1

In [33]:
#PRINT NUMBERS DIVISIBLE BY 3
numbers = [4,5,9,13,18,19,20,24,33,37,44,48]
for num in numbers:
    if num%3==0:
        print(num)

9
18
24
33
48

In [32]:
#PRINT SQUARES OF NUMBERS FROM 1 TO 10
for num in range(1,11):
    print(num**2)

1
4
9
16
25
36
49
64
81
100

In [31]:
#CONVERT CELSIUS TO FAHRENHEIT
celsius_list=[0,10,20,30,40]
for c in celsius_list:
    fahrenheit=(c*9/5)+32
    print(f"{c}°c={fahrenheit}°F")

0°c=32.0°F
10°c=50.0°F
20°c=68.0°F
30°c=86.0°F
40°c=104.0°F

In [30]:
#PRINT MULTIPLICATION TABLE OF 5
for i in range(1,11):
    print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [29]:
#SUM OF ALL NUMBERS IN A LIST
numbers=[10,15,30,35,40]
total=0
for num in numbers:
    total+=num
    print("sum = ",total)

sum =  10
sum =  25
sum =  55
sum =  90
sum =  130

In [28]:
#PRINT EACH CHARACTER IN A STRING
text = "FIZZA"
for char in text:
    print(char)

F
I
Z
Z
A

In [27]:
#PRINT WORDS MORE THAN 5 LETTERS
words=['FERRARI','BMW','CIVIC','BELTA','ALTO','SUZUKI','TOYOTA']
for word in words:
    if len(word) > 5:
        print(word)

FERRARI
SUZUKI
TOYOTA